__pycache__/
*.py[cod]
vendor/
*.log
.vscode
.coverage
coverage/
htmlcov/
*.pt
.pypirc
pred.txt
multi-bleu.perl
*.pyc
.idea
*.sublime-*
.DS_Store
data/
build/
*.lang
.scannerwork/
.*cache/
dist/
dnc.egg-info/
tasks/checkpoints/
faiss/
*.csv
venv/
.env
.env.production
archive
google-credentials.json
